body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

.bg-color1 {
  background-color: #FFC700;
}

.bg-color2 {
  background-color: #545454;
}

.bg-hover-color1:hover {
  background-color: #f78316;
}

#logo {
  width: 120px;
}

#logo2 {
  width: 40px;
}

#navbarScrollingDropdown {
  color: white;
}

#navbarScrollingDropdown:hover {
  color: lightgray;
}

.card-height {
  min-height: 100%;
}

.admin-nav {
  color: white;
}

.admin-nav:hover {
    cursor: pointer;
    color: #FFC700;
}

.menu-nav:hover {
      cursor: pointer;
      color: gray;
}

.product-img {
  min-height: 300px;
  border-bottom: 1px solid lightgray;
}

.product-text {
  max-height: 90px;
  min-height: 90px;
}

.fa-star, .fa {
  color: lightgray;
}

.checked {
  color: #FFC700 !important;
}

.toast-position {
  z-index: 5;
  right: 0;
  bottom: 0;
}

.mt-auto {
  margin-top: auto;
}

#show-hover {
  display: none;
}

.hover-trigger:hover #show-hover {
  display: inline-flex;
}

#footer-logo {
  width: 180px;
  height: 180px;
}

.nav-icon {
  font-size: 20px;
}

.del-btn:hover {
  color: orangered;
}

.check-out {
  border-top: 1px solid lightgray;
}

.discount-text {
  text-decoration: line-through;
  color: lightgray;
}

.mega-menu {
  width: 100vw;
  position: relative;
  float: inline-start;
}

.banner {
  z-index: 2;
  position: relative;
  bottom: 50%;
  left: 5%;
}

.slider {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.slider-tag {
  padding: 2px 1rem 2px 1rem;
  border: 1px solid white;
  color: black;
}

.card-body {
  height: auto;
  max-height: 10%;
}

.inlarge-hover:hover {
  scale: 1.2;
  z-index: 3;
}

.inlarge-hover:trigger {
  scale: 1.1;
  z-index: 3;
}

.banner-carosel {
  min-width: 1500px;
  min-height: 400px;
}

#shop-by-category {
  border-bottom: 1px solid lightgray;
}

/* =========== lg ============ */

@media (max-width: 992px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 19px;
  }
  .list-product {
    min-width: 25%;
  }
  /*.banner {
    z-index: 2;
    position: relative;
    bottom: 8rem;
    left: 5%;
  }

  .slider {
    position: absolute;
    bottom: 8rem;
    left: 10%;
  }*/
  
}

/* =========== md ============ */

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  .product-img {
    min-height: 250px;
  }
}

/* =========== sm ============ */

@media (max-width: 576px) {
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  .list-product {
    min-width: 20%;
  }
}

/* =========== xs ============ */

@media (min-width: 575px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .product-img {
    min-height: 240px;
  }
}